<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>Login</h2>
    </div>
  </div>
  <div class="row">
    <form class="card blue-grey" #formGroup="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-field col s12">
        <input id="email" type="email" name="email" ngModel required email #email="ngModel" class="white-text">
        <label for="email" class="yellow-text">Email</label>
        <div *ngIf="email.invalid && email.touched">
          <span class="helper-text white-text" *ngIf="email.errors.email">This is not a valid email</span>
          <span class="helper-text white-text" *ngIf="email.errors.required">Email is required</span>
        </div>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" name="password" ngModel required #password="ngModel" class="white-text">
        <label for="password" class="yellow-text">Password</label>
        <div *ngIf="password.invalid && password.touched">
          <span class="helper-text white-text" *ngIf="password.errors.required">Password is required</span>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit" [disabled]="formGroup.invalid">Login</button>
    </form>
  </div>
</div>
