nav {
  background-color: #31AA63;
}

a,li {
  color: #2C2C2C;
}

.brand-logo {
  font-size: 36px;
}

.material-icons {
  color: white;
}

@font-face {
  font-family: test;
  src: url("../../assets/CapricaSansPersonalUse-J4wx.ttf");
}

#login-modal {
  width: 40%;
}

.sidenav a {
  margin: 0;
}

a {
  color: white;
}
