<nav class="z-depth-3">
  <div class="nav-wrapper">
    <div class="left input-field hide-on-med-and-down">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
    <ul class="hide-on-med-and-down">
      <li>|</li>
      <li><a routerLink="/products" class="waves-effect waves-light btn-flat">Products</a></li>
    </ul>
    <a routerLink="/home" class="brand-logo center" style="font-family: test,serif">AquaLife</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li [hidden]="loggedIn"><a routerLink="/register" class="waves-effect waves-light btn-flat modal-trigger">Register</a></li>
      <li [hidden]="loggedIn"><a routerLink="/login" class="waves-effect waves-light btn-flat modal-trigger">Login</a></li>
      <li [hidden]="!loggedIn"><a href="#" class="waves-effect waves-light btn-flat modal-trigger" (click)="logout()">Logout</a></li>
      <li [hidden]="!loggedIn"><a routerLink="/account" class="waves-effect waves-light btn-flat modal-trigger">Account</a></li>
      <li>|</li>
      <li><a routerLink="/shopping-cart"><i class="material-icons">shopping_basket</i></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/products" class="waves-effect waves-light btn-flat modal-trigger">Products</a></li>
  <li [hidden]="loggedIn"><a routerLink="/register" class="waves-effect waves-light btn-flat modal-trigger">Register</a></li>
  <li [hidden]="loggedIn"><a routerLink="/login" class="waves-effect waves-light btn-flat modal-trigger">Login</a></li>
  <li [hidden]="!loggedIn"><a href="#" class="waves-effect waves-light btn-flat modal-trigger" (click)="logout()">Logout</a></li>
  <li [hidden]="!loggedIn"><a routerLink="/account" class="waves-effect waves-light btn-flat modal-trigger">Account</a></li>
  <li><a routerLink="/shopping-cart"><i class="material-icons">shopping_basket</i></a></li>
</ul>
