<h2>All Products</h2>
<button routerLink="../new-product" class="btn waves-light waves-effect">Add product</button>
<table *ngIf="!productService.productsIsEmpty()" class="responsive-table highlight">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr app-edit-product-item *ngFor="let product of productService.products" [product]="product"></tr>
  </tbody>
</table>
<p *ngIf="productService.productsIsEmpty()">There are currently no products for sale.</p>
