<div class="card white darken-1 small">
  <div class="card-content blue-grey-text">
    <span class="card-title">{{ product.name }}</span>
    <div class="row">
      <div class="col s6">
        <img class="responsive-img" [src]="imageSrc" alt="{{ product.name }}">
      </div>
      <div class="col s6">
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a class="btn waves-light waves-effect" routerLink="/product-detail/{{ product.id }}">Info</a>
    <a class="btn-flat waves-light waves-effect" routerLink="/shopping-cart" (click)="orderProduct()">Order now</a>
  </div>
</div>
