<h2>Edit Product: {{ product.name }}</h2>
<form class="z-depth-1" #editProductGroup="ngForm" (ngSubmit)="onSubmit()">
  <div class="input-field col s12">
    <input class="validate" id="name" type="text" name="name" ngModel required #name="ngModel" [(ngModel)]="product.name">
    <label for="name">Name</label>
    <div *ngIf="name.invalid && name.touched">
      <span class="helper-text" *ngIf="name.errors.required">Name is required</span>
    </div>
  </div>

  <div class="input-field col s12">
    <input id="price" type="number" name="price" ngModel required #price="ngModel" [(ngModel)]="product.price">
    <label for="price">Price</label>
    <div *ngIf="price.invalid && price.touched">
      <span class="helper-text" *ngIf="price.errors.required">price is required</span>
    </div>
  </div>

  <div class="input-field col s12">
    <textarea
      id="description"
      type="text"
      name="description"
      class="materialize-textarea"
      ngModel required
      #description="ngModel"
      [(ngModel)]="product.description"></textarea>
    <label for="description">Description</label>
    <div *ngIf="description.invalid && description.touched">
      <span class="helper-text" *ngIf="description.errors.required">Description is required</span>
    </div>
  </div>

  <div class="input-field col s12">
    <input id="height" type="text" name="height" ngModel required #height="ngModel" [(ngModel)]="product.height">
    <label for="height">Height</label>
    <div *ngIf="height.invalid && height.touched">
      <span class="helper-text" *ngIf="height.errors.required">Height is required</span>
    </div>
  </div>

  <div class="input-field col s12">
    <input id="temperature" type="text" name="temperature" ngModel required
           #temperature="ngModel" [(ngModel)]="product.temperature">
    <label for="temperature">Temperature</label>
    <div *ngIf="temperature.invalid && temperature.touched">
      <span class="helper-text" *ngIf="temperature.errors.required">Temperature is required</span>
    </div>
  </div>

  <div class="input-field col s12">
    <input id="lightNeed" type="text" name="lightNeed" ngModel required
           #lightNeed="ngModel" [(ngModel)]="product.lightNeed">
    <label for="lightNeed">Light Need</label>
    <div *ngIf="lightNeed.invalid && lightNeed.touched">
      <span class="helper-text" *ngIf="lightNeed.errors.required">Light Need is required</span>
    </div>
  </div>

  <div class="input-field col s12">
    <textarea
      id="nutrition"
      type="text"
      name="nutrition"
      class="materialize-textarea"
      ngModel required
      #nutrition="ngModel"
      [(ngModel)]="product.nutrition"></textarea>
    <label for="nutrition">Nutrition</label>
    <div *ngIf="nutrition.invalid && nutrition.touched">
      <span class="helper-text" *ngIf="nutrition.errors.required">Nutrition is required</span>
    </div>
  </div>

  <div class="input-field col s12">
    <input id="ph" type="text" name="ph" ngModel required #ph="ngModel" [(ngModel)]="product.ph">
    <label for="ph">ph</label>
    <div *ngIf="ph.invalid && ph.touched">
      <span class="helper-text" *ngIf="ph.errors.required">ph is required</span>
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit">Save product</button>
  <a class="btn-flat red-text waves-effect waves-light" routerLink="../../products">Cancel</a>
</form>
