<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>Account info</h2>
    </div>
  </div>
  <div class="row">
    <form #formGroup="ngForm" (ngSubmit)="onSubmitInfo()" class="card">
      <div class="input-field col s12">
        <input
          id="name"
          type="text"
          name="name"
          ngModel required
          [(ngModel)]=currentUser.name
          #name="ngModel">
        <label for="name" class="active">Name</label>
        <div *ngIf="name.invalid && name.touched">
          <span class="helper-text" *ngIf="name.errors.name">Name is required</span>
        </div>
      </div>
      <div class="input-field col s12">
        <input
          id="email"
          type="email"
          name="email"
          ngModel required email
          [(ngModel)]=currentUser.email
          #email="ngModel">
        <label for="email" class="active">Email</label>
        <div *ngIf="email.invalid && email.touched">
          <span class="helper-text" *ngIf="email.errors.email">This is not a valid email</span>
          <span class="helper-text" *ngIf="email.errors.required">Email is required</span>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit" [disabled]="formGroup.invalid">Save changes</button>
    </form>
  </div>
  <div class="row">
    <form #changePasswordGroup="ngForm" (ngSubmit)="onSubmitPassword()" class="card">
      <div class="input-field col s12">
        <input
          id="newPassword"
          type="password"
          name="newPassword"
          ngModel required
          #newPassword="ngModel">
        <label for="newPassword">New Password</label>
        <div *ngIf="newPassword.invalid && newPassword.touched">
          <span class="helper-text" *ngIf="newPassword.errors.newPassword">New password is required</span>
        </div>
      </div>
      <div class="input-field col s12">
        <input
          id="newPasswordRepeat"
          type="password"
          name="newPasswordRepeat"
          ngModel required
          #newPasswordRepeat="ngModel">
        <label for="newPasswordRepeat">Repeat New Password</label>
        <div *ngIf="newPasswordRepeat.invalid && newPasswordRepeat.touched">
          <span class="helper-text" *ngIf="newPasswordRepeat.errors.newPasswordRepeat">
            Repeat new password is required
          </span>
        </div>
        <div *ngIf="newPasswordRepeat.touched">
          <span class="helper-text" *ngIf="this.newPassword.value !== this.newPasswordRepeat.value">
            Password does not match the first password
          </span>
        </div>
      </div>
      <div class="input-field col s12">
        <input
          id="oldPassword"
          type="password"
          name="oldPassword"
          ngModel required
          #oldPassword="ngModel">
        <label for="oldPassword">Old Password</label>
        <div *ngIf="oldPassword.invalid && oldPassword.touched">
          <span class="helper-text" *ngIf="oldPassword.errors.oldPassword">Old password is required</span>
        </div>
      </div>
      <button
        class="waves-effect waves-light btn"
        type="submit"
        [disabled]="changePasswordGroup.invalid || this.newPassword.value !== this.newPasswordRepeat.value">
        Save password
      </button>
    </form>
  </div>
</div>
