<div class="container">

  <div class="row">
    <div class="col s12">
      <h2>Account info</h2>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Welcome back {{ userService.currentUser.name }}!</span>
        <p>Linked email: {{ userService.currentUser.email }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <form #changePasswordGroup="ngForm" (ngSubmit)="onSubmitPassword()" class="card">
      <div class="card-content">
        <span class="card-title">Change password</span>
        <div class="input-field col s12">
          <input
            id="newPassword"
            type="password"
            name="newPassword"
            ngModel required
            #newPassword="ngModel">
          <label for="newPassword">New Password</label>
          <div *ngIf="newPassword.invalid && newPassword.touched">
            <span class="helper-text" *ngIf="newPassword.errors.newPassword">New password is required</span>
          </div>
        </div>
        <div class="input-field col s12">
          <input
            id="newPasswordRepeat"
            type="password"
            name="newPasswordRepeat"
            ngModel required
            #newPasswordRepeat="ngModel">
          <label for="newPasswordRepeat">Repeat New Password</label>
          <div *ngIf="newPasswordRepeat.invalid && newPasswordRepeat.touched">
          <span class="helper-text" *ngIf="newPasswordRepeat.errors.newPasswordRepeat">
            Repeat new password is required
          </span>
          </div>
          <div *ngIf="newPasswordRepeat.touched">
          <span class="helper-text" *ngIf="this.newPassword.value !== this.newPasswordRepeat.value">
            Password does not match the first password
          </span>
          </div>
        </div>
        <button
          class="waves-effect waves-light btn"
          type="submit"
          [disabled]="changePasswordGroup.invalid || this.newPassword.value !== this.newPasswordRepeat.value">
          Save password
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="!this.userService.isAuthorized()" class="row">
    <button class="btn waves-effect waves-light" (click)="onDeleteAccount()">Delete Account</button>
  </div>
</div>
